body {
  background-color: #222;
}

.App-header {
  text-align: center;
  line-height: 20px;
  padding: 2px;
  color: #ccc;
}

.App-content {
}

.tweets-collection {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tweet-item {
  display: block;
  width: 25%;
  height: 230px;
  float: left;
  color: #eee;
  font-size: 1.05em;
  font-weight: 300;
}
.tweet-item:nth-child(odd) .tweet-box {
  background-color: #555;
}
.tweet-item:nth-child(even) .tweet-box {
  background-color: #bbb;
}

.tweet-box {
  margin: 5px;
}

.tweet-content {
  background-color: rgba(2, 2, 2, .4);
  height: 170px;
}

.tweet-content-text {
  padding: 40px;
}

.tweet-footer {
  background-color: rgba(2, 2, 2, .4);
  height: 50px;
}

.tweet-footer-text {
  padding: 10px 40px;
}