body {
  background-color: #1a1a1a;
}

.App-header {
  text-align: center;
  line-height: 20px;
  padding: 2px;
  color: #ccc;
}

.App-content {
}

.tweets-collection {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tweet-item {
  display: block;
  width: 20%;
  height: 230px;
  float: left;
  color: #eee;
  font-size: 1.05em;
  font-weight: 100;
}
.tweet-item:nth-child(odd) .tweet-box {
  background-color: #999;
}
.tweet-item:nth-child(even) .tweet-box {
  background-color: #00bdfa;
}

.tweet-box {
  margin: 5px;
}

.tweet-content {
  background-color: rgba(2, 2, 2, .7);
  height: 170px;
}

.tweet-content-text {
  padding: 40px;
}

.tweet-footer {
  font-size: 0.8em;
  background-color: rgba(2, 2, 2, .7);
  height: 50px;
}

.tweet-footer-text {
  padding: 10px 40px;
}

.close-modal-button {
  background: none;
  border: none;
  font-size: 1.5em;
  float: right;
  outline: none;
}

.tweet-details-box {
  height: 97%;
}

.tweet-details-image {
  float: right;
  width: 70%;
  height: 100%;
  background: url('https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F27497794%2F95364979455%2F1%2Foriginal.jpg?w=1000&rect=0%2C0%2C2160%2C1080&s=65e92a54aeecfaf6b385afa638cbaec6') no-repeat center;
  background-size: 100%;
}
.tweet-details-content {
  width: 28%;
  padding-top: 30px;
  padding-left: 30px;
}

.tweet-details-content-user {
    margin-bottom: 30px;
}

.tweet-details-content-text {
    font-size: 2em;
}
