.tweets-collection {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tweet-item {
  display: block;
  width: 20%;
  height: 230px;
  float: left;
  color: #eee;
  font-size: 1.05em;
  font-weight: 100;
}
.tweet-item:nth-child(odd) .tweet-box {
  background-color: #999;
}
.tweet-item:nth-child(even) .tweet-box {
  background-color: #00bdfa;
}

.close-modal-button {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  font-size: 1.8em;
  outline: none;
  margin: 5px;
}


.tweet-details-box {
  height: 100%;
}
